# src/main/resources/application-openapi.yml
server:
    port: 8080

spring:
    datasource:
        url: jdbc:h2:mem:openapi;MODE=MySQL;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
        driver-class-name: org.h2.Driver
        username: sa
        password:
    jpa:
        hibernate:
            ddl-auto: none
        properties:
            hibernate:
                dialect: org.hibernate.dialect.H2Dialect
    main:
        allow-bean-definition-overriding: true

springdoc:
    api-docs:
        enabled: true
    swagger-ui:
        enabled: false  # UI는 필요 없음(우린 스펙 파일만 뽑을 거라서)

logging:
    level:
        org.springframework: WARN
